<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">
            Crypto News
        </h1>
        <p class="lead">The latest news in the cryptocurrency world!</p>

    </div>
    <div class="row">
        {{#each news.Data }}
        <div class="col-md">
            <div class="card" style="width: 18rem;">
                <img src="{{ this.imageurl }}" class="card-img-top" alt="{{ this.source }}">
                <div class="card-body">
                    <h5 class="card-title">{{ this.title }}</h5>
                    <p class="card-text">{{ this.body }}</p>
                    <a href="{{ this.url }}" class="btn btn-secondary" target="_blank">Read More...</a>
                </div>
            </div>
            <br />
        </div>
        {{/each}}
    </div>
</div>





{{!-- {{#each news.Data}}
<div>{{this}}</div>
{{/each}} --}}